*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(135deg,#050816,#120028,#2b004f);

color:white;

}

.container{

text-align:center;

z-index:5;

padding:25px;

}

.small{

font-size:22px;

margin-bottom:20px;

animation:fade 2s infinite alternate;

}

h1{

font-size:58px;

margin-bottom:10px;

}

h2{

color:#ff7aa8;

margin-bottom:30px;

font-weight:500;

}

p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

}

button{

padding:18px 40px;

border:none;

border-radius:40px;

font-size:22px;

cursor:pointer;

background:#ff3b8d;

color:white;

transition:.4s;

box-shadow:0 0 25px #ff3b8d;

}

button:hover{

transform:scale(1.08);

box-shadow:0 0 40px #ff3b8d;

}

.stars{

position:absolute;

width:100%;

height:100%;

background:url("https://www.transparenttextures.com/patterns/stardust.png");

opacity:.4;

animation:move 80s linear infinite;

}

@keyframes move{

from{

transform:translateY(0);

}

to{

transform:translateY(-1000px);

}

}

@keyframes fade{

from{

opacity:.4;

}

to{

opacity:1;

}

}